/* https://fonts.google.com/specimen/Nanum+Gothic+Coding?preview.text=%EB%82%98%EB%A6%AC%EC%BB%AC%EB%A6%AC&preview.text_type=custom&subset=korean&noto.script=Kore */
/* Nanum Gothic Coding */
/* @font-face {
    font-family: 'Playfair Display';
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
      
  }
  

* {
    font-family: 'Playfair Display';
     
  } */




  body{
    /* background-color: gray; */
    /* flex-direction: ; */
    /* justify-content: space-evenly; */
    
  }
