html,
body {
  height: 100%; 
  
  
}

#root {
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  flex-basis: 158px;
}

#main {
  width: 1050px;
  margin: 0 auto;
  flex: 1;
}

#footer {
  border: 1px solid gray;
  flex-basis: 150px;
}
